<!doctype html>
<html lang="en"
        xmlns:th="http://thymeLeaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/Layout"
        layout:decorate="~{fragments/main_layout}"
    >
<head>

</head>
<body>
    <div layout:fragment="content" class="mySpace container">
        <div class="jumbotron ">

            <h4>Admin</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corporis modi quae quibusdam reiciendis
                repellat similique veniam. Corporis, cumque, debitis!</p>
        </div>
    </div>
</body>
</html>