<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="Fragments/fragment :: head"></head>
<body>

<div class="mainBody">
    <div th:replace="Fragments/fragment :: header"></div>

    <div class="navigation">
        <nav th:replace="Fragments/fragment :: mainNavigation"></nav>
    </div>
    <div class="mainContent">

    </div>
</div>

<!-- FOOTER -->
<footer th:replace="Fragments/fragment :: footer"></footer>


</body>
</html>
