<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/fragments :: head"></head>
<body>

<header th:replace="fragment/fragments :: header"></header>

<main role="main">

    <div class="container">
        <div class="about-full-content">
            <div class="about">
                <h2 class="headerTitle">About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at debitis illum in recusandae! A animi
                    dicta distinctio ea eligendi eum exercitationem illum impedit in nemo nisi, quas quod sit?</p>
            </div>
            <div class="contact">
                <h2>Contact Us</h2>
                <ul>
                    <li><i class="fa fa-paper-plane" aria-hidden="true"></i> The Design Themes Inc.</li>
                    <li><i class="fa fa-mobile" aria-hidden="true"></i>  +88-002-20002200</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> +22-22255-555</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> user@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer th:replace="fragment/fragments :: footer"></footer>

</main>

</body>
</html>
